<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img src="images/cat.png " class="rounded float-left w-25 h-25 "></img>
    <h1 class="display-3">ToyLance</h1>
    <p class="lead">What to You Want to Do?</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/insert" role="button">Insert </a>
    <a class="btn btn-dark btn-lg" href="/delete" role="button">Delete </a>
    <a class="btn btn-light btn-lg" href="/update" role="button">Update </a>
    <a class="btn btn-dark btn-lg" href="/search" role="button">Search </a>

  </div>
</div>

<%- include('partials/footer') %>