<%- include('partials/header') %>
<h3>SEARCH A TOY</h3>

<form method="post" action="/search">
    <div class="form-group">
      <label for="ToyName">Enter Toyname TO SEARCH</label>
      <input type="text" name="ToyName" placeholder="Enter"class="form-control">

    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>
 


<%- include('partials/footer') %>